* {
	margin: 0;
	z-index: 0;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: linear-gradient(to bottom, green, lightgreen);
	background-attachment: fixed;
	font-family: "Roboto";
}

@font-face {
	font-family: "Bodoni";
	src: url(../bodoniMtBlack.ttf);
}

@font-face {
	font-family: "Roboto";
	src: url(../Roboto.ttf);
}

nav {
	background-color: rgba(214,158,101,.6);
	border-radius: 0 0 10px 10px;
	display: table;
	width: 30%;
	padding: 4px;
	z-index: 1;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

nav a:link {
	color: white;
	text-decoration: none;
}

nav a:active {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: black;
	text-decoration: none;
}

nav a:visited {
	color: white;
	text-decoration: none;
}

nav>ul {
	display: table-row;
	text-align: center;
	list-style: none;
}

nav>ul>li {
	font-family: "Bodoni";
	font-size: 1.5em;
	display: table-cell;
}

#changing_image {
	position: relative;
	width: 100%;
	bottom: 70px;
	min-width: 768px;
}

.top {
	z-index: 0;
	height: 40vh;
	width: 100vw;
	padding: 0px auto;
	overflow: hidden;
}

h1 {
	font-size: 2.5em;
	border-radius: 10px;
	background-color: lightgray;
	margin: 0 15%;
}


#content {
	margin: 10px;
	background: white;
	padding: 25px 15px;
	border: 5px;
	border-radius: 20px;
	min-width: 400px;
}

#content h1{
	text-align: center;
	margin-bottom: 25px;
}

#form-article {
	margin: 0 15%;
	padding: 10px;
	border-radius: 10px;
	background-color: lightgray;
}


.labelitem {
	display: block;
	float: left;
	vertical-align: text-top;
	width: 120px;
	margin: 2px;
	font-size: 1.2em;
}

br{
	clear: left;
}

.inputitem {
	display: block;
	float: left;
}

#reset_submit {
	width: 112px;
	margin: 15px auto 0 auto;
}

#summary_wrapper {
	display: none;
}
